ingress:
  enabled: false
  ingressClassName: nginx
  annotations:
     kubernetes.io/ingress.class: nginx
  hosts:
    - grafana.localhost
  path: /

admin:
  existingSecret: grafana-admin
  userKey: admin-user
  passwordKey: admin-password

testFramework:
  enabled: false

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    searchNamespace: ALL

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: loki
        type: loki
        url: http://loki:3100
        access: proxy
        version: 1
        isDefault: true
        jsonData:
          maxLines: 1000
