apiVersion: v1
kind: Service
metadata:
  name: loki-headless
  labels:
    variant: headless
spec:
  ports:
    - port: 3100
      protocol: TCP
      name: http-metrics
      targetPort: http-metrics
  clusterIP: None
  selector:
    app.kubernetes.io/name: loki